<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Nitrokey FIDO2 Webupdate</title>
  <link href="css/styles.css" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body onload="prepare()">
<div id="app" v-cloak>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Nitrokey FIDO2 Webupdate
      </h1>
      <button class="button is-light" onclick="toggle_advanced_mode()">Show more information</button>

      <article class="message is-info" v-if="advanced_mode">
        <div class="message-header">
          Environment information
        </div>
        <div class="message-body">

          <p class="content">
            <!-- https://stackoverflow.com/a/47033801/4768845 -->
            <span v-if="platform_description" v-text="platform_description"></span> <span v-if="webauthn_support"
                                                                                          v-text="webauthn_support"></span>
            <br>

            Connected Nitrokey FIDO2 firmware version:
            <span v-if="solo_version" v-text="solo_version"></span>
            <span v-else>unknown</span>
            <span v-if="solo_version_str" v-text="solo_version_str"></span>
            <br>

            Latest Nitrokey FIDO2 firmware version:
            <span v-if="stable_version" v-text="stable_version"></span>
            <span v-else>unknown</span>
            <br/>
            Device state: {{device_state[1]}}
            <br/>
            <span class="content" v-if="what_is_it && app_step >= const_app_steps.after_inspection">Connected device: {{what_is_it}}</span>
            <br/>
            Update application status: ({{app_step}}) {{const_app_steps_strings[app_step]}}
          </p>

          <div class="container">
            <a href="https://github.com/Nitrokey/nitrokey-webupdate"><img height=32 src="images/github.png" width=32  alt=""/>github.com/Nitrokey/nitrokey-webupdate</a>
          </div>
          <button class="button is-light" onclick="toggle_advanced_mode2()">Advanced Mode</button>

        </div>
      </article>


      <template v-if="app_step <= const_app_steps.inspect && !is_not_supported_configuration && correct_firmware">
        <article class="message is-info">
          <div class="message-header">
            Firmware update procedure
          </div>
          <div class="message-body">
            <p>To start the update process please:</p>
            <ol>
              <li>Reinsert the device to the USB port</li>
              <li>Press the below button <strong>Inspect key</strong></li>
            </ol>
            <button class="button is-primary" onclick="inspect()">Inspect Key</button>
          </div>
      </template>

      <template v-if="is_not_supported_configuration">
        <article class="message is-warning">
          <div class="message-header">
            <p>Unsupported OS/browser configuration</p>
          </div>
          <div class="message-body">
            <p>This OS/browser configuration is not supported.</p>
          </div>
        </article>
      </template>

      <template v-if="ask_for_attestation && app_step < const_app_steps.after_inspection">
        <article class="message is-info">
          <div class="message-header">
            <p>INSPECTING KEY</p>
            <button class="button is-primary is-large is-loading"></button>
          </div>
          <div class="message-body">
            <ol>
              <li>Please wait while device will be queried for its current firmware version.</li>
              <li>A Webauthn popup should show up</li>
              <!--              <li>-->
              <!--                Please accept the browser's request to access (<strong>Proceed</strong> button) to the device. <br/> In-->
              <!--                case of missclick please refresh the page and try again.-->
              <!--              </li>-->
              <li>When the device blinks, please press the button on your key to confirm operation.</li>
              <li>
                If nothing happens, reinsert the device to the USB port. If the device will not start blink, please
                refresh page and make another attempt.
              </li>
            </ol>
            <br>

          </div>

        </article>
      </template>

      <progress class="progress is-success is-large" max="100" v-bind:value="reply_wait" v-if="reply_wait && app_step < const_app_steps.bootloader_executed">{{
        reply_wait }}%
      </progress>

      <!--      <template v-if="cannot_inspect">-->
      <!--        <article class="message is-danger">-->
      <!--          <div class="message-header">-->
      <!--            <p>DEVICE IS IN BOOTLOADER MODE</p>-->
      <!--          </div>-->
      <!--          <div class="message-body">-->
      <!--            <ul>-->
      <!--&lt;!&ndash;              <li class="list-item"> Please select "advanced mode" below, and flash the appropriate firmware.</li>&ndash;&gt;-->
      <!--              <li class="list-item"> Please select "advanced mode" below, and flash the appropriate firmware.</li>-->
      <!--            </ul>-->
      <!--          </div>-->
      <!--        </article>-->
      <!--      </template>-->

      <!--      <template v-if="device_state===const_device_state.bootloader">-->
      <!--        <p> Bootloader mode - TBD handle automatically </p>-->
      <!--        <p>{{ bootloader_version }} </p>-->
      <!--        <p>{{ bootloader_pubkey }} </p>-->
      <!--      </template>-->

    </div>
  </section>


  <section class="section">
    <div class="container">
      <template>
        <div class="container" v-if="app_step <= const_app_steps.after_inspection && needs_update">
          <article class="message is-warning">
            <div class="message-header">
              Firmware is outdated
            </div>
            <div class="message-body">
              <p>
                Your key uses out-of-date firmware - <strong>{{solo_version}}</strong>, while the latest one is <strong>{{stable_version}}</strong>
                (<a href="https://github.com/Nitrokey/nitrokey-fido2-firmware/releases/">see changelog</a>).
                Update is recommended.
                <br/>
                <br/>
              </p>

              <ol>
<!--                <li>-->
<!--                  Device will be asked to reboot to bootloader mode after user confirmation (LED will blink with-->
<!--                  multiple colors), and then new firmware will be-->
<!--                  written to its memory.-->
<!--                </li>-->
<!--              <li>Please ignore the system/browser popups shown during the operation (e.g. asking for trying another key) - this is expected.</li>-->
              <li>Once the update process is started, please do not make any operations on the computer until it finishes, otherwise it will be cancelled.
                Please ignore browser and system popups.
              </li>
                <li>Each time the device is blinking with a white light, please touch it until it blinks with all colors rapidly. If after 10 seconds it won't change from white to color light, please release it and repeat.
                  Do not touch the device while it blinks with all colors.
                </li>
<!--                <li>This operation is safe for the device and user data. It takes about 10 minutes.</li>-->
<!--                <li>If the update process will be interrupted, it has to be repeated until success, otherwise device-->
<!--                  will stay in the bootloader mode on each connection.-->
<!--                </li>-->
<!--                <li>Please do not change the application focus (e.g. with switching to another application or pressing-->
<!--                  Alt+Tab), or the update process will be canceled.-->
<!--                </li>-->
                <li>Please press the "Update" button below to continue.</li>
              </ol>
            </div>
            <br/>
            <button class="button is-primary" onclick="update_secure()" v-if="what_is_it">Update {{what_is_it}}</button>
          </article>
        </div>

        <div class="container"
             v-if="(is_solo_secure || is_solo_hacker) && app_step <= const_app_steps.after_inspection && !needs_update ">
          <article class="message is-info">
            <div class="message-header">
              Firmware is up-to-date
            </div>
            <div class="message-body">
              <p>
                Your firmware seems up to date! There is no need to run the update.
              </p>
            </div>
          </article>

        </div>


        <template v-if="app_step===const_app_steps.communication_error">
          <article class="message is-danger">
            <div class="message-header">
              <p>Communication error</p>
            </div>
            <div class="message-body">
              <p>Update application could not communicate with the device. Please try again and make sure to:
              </p>
              <ol type="1">
                <li>Device is inserted to the USB slot</li>
                <li>Do not lose browser focus by switching applications</li>
                <!--                <li>Confirm all requests for device communication (if needed)</li>-->
                <li>Check if device responds to the FIDO U2F / FIDO2 requests on other sites (optionally)</li>
              </ol>
            </div>
          </article>
        </template>


        <!--            TODO Show this when device_state is not responding -->
        <template v-if="is_linux && app_step === const_app_steps.communication_error">
          <div class="message is-warning">
            <div class="message-header">
              <p>Linux needs udev rules</p>
            </div>
            <div class="message-body">
              <p>On Linux, you likely need "udev rules" installed to use your key.</p>
              <p>See <a href="https://github.com/Nitrokey/nitrokey-fido2-firmware/tree/master/udev">https://github.com/Nitrokey/nitrokey-fido2-firmware/tree/master/udev</a>
                for more information.</p>
            </div>
          </div>
        </template>

        <template v-if="app_step===const_app_steps.bootloader_execution_start">
          <article class="message is-warning">
            <div class="message-header">
              <p>Executing bootloader - do not touch your computer</p>
            </div>
            <div class="message-body">
              <ol>
                <li><strong>Do not touch your PC. Touch your device.</strong></li>
              <li>Touch briefly the device. Then keep pressing touch button on the device until it stops blinking with white light. Release press and
                repeat if blinks again white. Do not touch the device once it emits color light.</li>
                <li>Once update is started, no further action is required from the user.</li>
                <li>Please ignore system message about trying another key! These popups are expected.</li>
                <li>If either device or browser will stop responding, please reinsert the device to the USB slot.</li>
              </ol>
            </div>

          </article>
          <button class="button is-primary" onclick="reload_page()">Stop</button>

        </template>
        <template v-if="app_step===const_app_steps.update_failure">
          <article class="message is-danger">
            <div class="message-header">
              <p>Update process failed</p>
            </div>
            <div class="message-body">
              <p>The update process has been interrupted. Please reinsert the device to the USB slot, run the update
                once again, and do not tab out during the process.
                Device cannot be used as FIDO2 token until update is not finished successfully.</p>
            </div>
            <button class="button is-primary" onclick="inspect()">Try again</button>
          </article>
        </template>

<!--        <template v-if="cannot_flash">-->
<!--          <article class="message is-danger">-->
<!--            <div class="message-header">-->
<!--              <p>DEVICE IS NOT IN BOOTLOADER MODE</p>-->
<!--            </div>-->
<!--            <div class="message-body">-->
<!--              <p>Please press 'Run bootloader' button, and then try to flash again</p>-->
<!--            </div>-->
<!--            <button class="button is-primary" onclick="run_bootloader()">Run bootloader</button>-->
<!--          </article>-->
<!--        </template>-->

        <template v-if="device_state===const_device_state.bootloader && app_step===const_app_steps.after_inspection">
          <article class="message is-success">
            <div class="message-header">
              <p>DEVICE IS IN BOOTLOADER MODE</p>
            </div>
            <div v-if="app_step < const_app_steps.bootloader_executed">
              <div class="message-body">
                <p>Please press 'Update' button to continue</p>
              </div>
              <button class="button is-primary" onclick="update()" v-if="what_is_it">Update {{what_is_it}}</button>
            </div>
          </article>
        </template>

        <template v-if="update_ongoing || app_step === const_app_steps.update_ongoing">
          <article class="message is-warning">
            <div class="message-header">
              <p>DO NOT TOUCH YOUR PC</p>
            </div>
            <div class="message-body">
              During the firmware update, you will see flashing popups - please ignore them.
              <br/>
              Do NOT change application focus (e.g. by "tabbing out") during the update, or it will abort.
            </div>
          </article>
          <progress class="progress is-success is-large" max="100" v-bind:value="reply_wait" v-if="reply_wait">{{
            reply_wait }}%
          </progress>
        </template>

        <!--          <button onclick="update()" class="button is-primary" v-if="what_is_it">Reflash {{what_is_it}}</button>-->
        <p v-if="app_step===const_app_steps.update_ongoing">
          <span v-if="update_status" v-text="update_status"></span>
          <br>
          <span v-if="update_progress" v-text="update_progress"></span>
          <progress class="progress is-success is-large" max="100" v-bind:value="p_progress">{{
            p_progress }}%
          </progress>

        </p>

        <template v-if="update_success">
          <article class="message is-success">
            <div class="message-header">
              <p>UPDATE SUCCESSFUL!</p>
            </div>
            <div class="message-body">
              Your key is now updated. Current firmware version: {{ solo_version }}.
            </div>
          </article>
        </template>

        <!--        <template v-if="update_failure">-->
        <!--          <article class="message is-warning">-->
        <!--            <div class="message-header">-->
        <!--              <p>UPDATE FAILED</p>-->
        <!--            </div>-->
        <!--            <div class="message-body">-->
        <!--              The update process has been interrupted. Please run the update once again, and do not tab out during the-->
        <!--              process.-->
        <!--            </div>-->
        <!--          </article>-->
        <!--        </template>-->

      </template>

      <template v-if="!correct_firmware">
        <article class="message is-danger">
          <div class="message-header">
            <p>SITE FIRMWARE OUT OF DATE!</p>
          </div>
          <div class="message-body">
            <p>Please inform Nitrokey!</p>
            <p>Firmware flashing deactivated.</p>
          </div>
        </article>
      </template>
    </div>

  </section>
  <section class="section" v-if="show_advanced_mode">
    <div class="container">
      <template v-if="advanced_mode">

        <br><br>

<!--        <select v-model="user_selected_device">-->
<!--          <option disabled value="">Please select device</option>-->
<!--          <option-->
<!--            :key="index"-->
<!--            :value="option"-->
<!--            v-for="(option, index) in supported_devices">-->
<!--            {{ option }}-->
<!--          </option>-->
<!--        </select>-->

<!--        <br><br>-->
<!--        <button class="button is-primary" onclick="update_secure()" v-if="user_selected_device">I CONFIRM:-->
<!--          {{user_selected_device}} plugged in - reflash it-->
<!--        </button>-->

        <button class="button is-primary" onclick="run_bootloader()">Run bootloader</button>
        <button class="button is-primary" onclick="exit_bootloader()">Exit bootloader</button>


      </template>


    </div>
  </section>
</div>
</body>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- production version, optimized for size and speed -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

<!-- external; permissive licenses -->
<script src="js/vendor/cbor.js"></script>
<script src="js/vendor/platform.js"></script>
<script src="js/vendor/sha256.js"></script>
<script src="js/vendor/intel-hex.js"></script>
<script src="js/vendor/u2f-api.js"></script>

<!-- our stuff -->
<script src="js/constants.js"></script>
<script src="js/helpers.js"></script>
<script src="js/ctaphid.js"></script>
<script src="js/main.js"></script>
</html>
